.TypeNav {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.typeNavBlock {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 110px;
  height: 54px;
  border: 2px solid #c4c4c4;
  border-right: none;
  cursor: pointer;
  transition: 0.5s ease all;
}
.typeNavBlock:last-of-type {
  border-right: 2px solid #c4c4c4;
  border-radius: 0 5px 5px 0;
}
.typeNavBlock:first-of-type {
  border-radius: 5px 0 0 5px;
}
.typeNavBlock:hover {
  background: #e32a6c;
}
.typeNavText {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.typeNavText:hover {
  color: #fff;
}

@media screen and (max-width: 760px) {
  .TypeNav {
    display: none;
  }
}
