.BottomMenu {
  display: none;
}
@media screen and (max-width: 760px) {
  .BottomMenu {
    display: flex;
    height: 55px;
    background: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 0;
    left: 0;
    align-items: center;
    padding-left: calc(50% - 130px);
  }
  .BottomMenu a {
    display: inline-block;
    border: 1px solid #c4c4c4;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    cursor: pointer;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
  }
  .BottomMenu a:hover {
    transition: 0.3s ease all;
    color: #fff;
    background: #e32a6c;
  }
  .BottomMenu a:first-of-type {
    border-right: none;
    border-radius: 5px 0 0 5px;
  }
  .BottomMenu a:last-of-type {
    border-radius: 0 5px 5px 0;
  }

  /* .homeImg,
  .locationImg {
    width: 26px;
    height: 26px;
    margin: 0 20px 0 20px;
  } */
}
