.burger {
  display: none;
}
@media screen and (max-width: 760px) {
  .burger {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 14px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
  }
  .burger > span,
  .burger > span::before,
  .burger > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .burger > span::before {
    content: "";
    top: 10px;
  }
  .burger > span::after {
    content: "";
    top: 20px;
  }
}

.activeburger {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 14px;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.activeburger > span,
.activeburger > span::before,
.activeburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.activeburger > span::before {
  opacity: 0;
}
.activeburger > span {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
.activeburger > span::after {
  content: "";
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  left: 0;
  top: 0;
}
