* {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
}
.сompanyNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 150px);
}
.overflowClass {
  overflow: hidden;
  width: 100%;
}
.companyNavBlock {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  background-color: #fff;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 110px;
  max-width: 150px;
  height: 54px;
  border: 2px solid #c4c4c4;
  cursor: pointer;
  border-right: none;
  transition: 0.2s ease all;
}
.companyNavBlock:hover {
  background-color: #e32a6c;
}
.companyNavBlock:hover .companyNavLink {
  color: #fff;
}

.companyNavLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.сompanyNavImg {
  margin-right: 7px;
}
.companyNavBlock:last-of-type {
  border-right: 2px solid #c4c4c4;
  border-radius: 0 5px 5px 0;
}
.companyNavBlock:first-of-type {
  border-radius: 5px 0 0 5px;
}
.allText {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}
.сompanyNavText {
  margin-top: 3px;
  font-size: 13px;
  font-weight: bold;
  line-height: 12px;
  text-transform: uppercase;
}
@media screen and (max-width: 760px) {
  .overflowClass {
    position: fixed;
    overflow: hidden;
    z-index: 2;
    top: 48px;
    width: 100%;
    height: 60px;
    background-color: #eef1f6;
    -webkit-overflow-scrolling: touch;
  }
  .сompanyNav {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    height: 80px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    display: flex;
    align-items: center;
  }
  .сompanyNav:active {
    cursor: grabbing;
  }
  .companyNavBlock {
    min-width: 75px;
    height: 30px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 0px;
    padding-bottom: 2px;
    margin-left: 10px;
  }
  .companyNavBlock:active {
    cursor: grabbing;
  }
  .companyNavBlock:last-of-type {
    border-right: none;
    border-radius: 10px;
  }
  .companyNavBlock:first-of-type {
    border-radius: 10px;
  }
  .сompanyNavText:active {
    cursor: grabbing;
  }
  .сompanyNavText,
  .allText {
    text-transform: none;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal !important;
    font-size: 12px;
    letter-spacing: 0.05em;
  }
  .allText {
    padding-top: 2px;
  }
  .companyNavLink img {
    display: none;
  }
  .companyNavLink:active {
    cursor: grabbing;
  }
}
@media screen and (max-device-width: 760px) {
  .сompanyNav {
    padding-bottom: 17px;
  }
}
