.homeContentWrap {
  padding-top: 100px;
  max-width: 1040px;
  margin: 0 auto;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.navContainer {
  margin: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.homeContent {
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media screen and (max-width: 760px) {
  body {
    background-color: #eef1f6;
  }
  .homeContentWrap {
    padding-top: 100px;
    width: 100%;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
    padding-bottom: 45px;
  }
  .homeContent {
    -webkit-transition: 0.3s ease all 0.2s;
    -o-transition: 0.3s ease all 0.2s;
    transition: 0.3s ease all 0.2s;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .navContainer {
    margin: 0;
  }
}

@-webkit-keyframes toLeft {
  0% {
    right: 0px;
  }
  100% {
    right: 200px;
  }
}

@keyframes toLeft {
  0% {
    right: 0px;
  }
  100% {
    right: 200px;
  }
}
@-webkit-keyframes toRight {
  0% {
    right: 200px;
  }
  100% {
    right: 0px;
  }
}
@keyframes toRight {
  0% {
    right: 200px;
  }
  100% {
    right: 0px;
  }
}
