.leaflet-container {
  background-color: white;
}

.marker-cluster {
  background-color: rgba(0, 0, 0, 0);
}
.marker-cluster div {
  background-color: #f8104d;
  color: #fff;
  font-weight: bold;
}
.leaflet-div-icon {
  border: none;
  border-radius: 10px;
}
