.editCompanyContent {
  max-width: 950px;
  margin: 0 auto;
  padding-top: 60px;
}

.editCompanyContent h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 40px;
}
.editCompanyContent table {
  width: 80%;
}
.editCompanyContent tr {
  display: flex;
}
.editCompanyContent td {
  padding: 4px;
  display: flex;
  flex: 1;
}
.editCompanyContent td:first-of-type {
  flex: 1.5;
}
.editCompanyContent .name {
  font-weight: 500;
  font-size: 18px;
}
.editCompanyContent .name a {
  display: block;
  width: 100%;
}
.editCompanyContent .enName {
  font-weight: 500;
  font-size: 18px;
  color: #aeaeae;
}
.editCompanyContent .typeCompany {
  font-weight: 500;
  font-size: 18px;
  color: #e32a6c;
}

@media screen and (max-width: 1000px) {
  .editCompanyContent {
    margin: 0 25px;
  }
}
@media screen and (max-width: 760px) {
  .editCompanyContent {
    margin: 0;
    position: relative;
    display: block;
    padding-top: 60px;
    width: 100vw;
  }
  .editCompanyContent h3 {
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .editCompanyContent table {
    display: flex;
    flex: 1;
    width: 100vw;
  }
  .editCompanyContent tr {
    width: 100vw;
  }
  .editCompanyContent td {
    display: inline-block;
    margin: 5px 0;
  }
  .editCompanyContent .name {
    width: 100px;
    min-width: 100px;
  }
  .editCompanyContent .enName {
  }
  .editCompanyContent .typeCompany {
    min-width: 100px;
  }
}
