/* ДЛЯ ПРИМЕРА========================================== */
.SmallCompanyBlockNewDesign {
  width: 240px;
  height: 234px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-color: #000;
  margin: 10px;
}
.gradientWrapperNewDesign {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #000000 100%);
  display: flex;
  flex: 1;
  align-items: flex-end;
}
.descriptionNewDesign {
  display: flex;
  width: 100%;
  height: 64px;
  flex-direction: column;
  padding: 0 10px;
}
.topBlockTextNewDesign {
  width: 100%;
}
.companyNameNewDesign {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
.companyTitleNewDesign {
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  padding-top: 2px;
}
.bottomBlockTextNewDesign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
}
.workTimeIsOpenedNewDesign {
  display: flex;
  flex-direction: row;
}
.workTimeTextNewDesign {
  font-weight: 500;
  font-size: 10px;
  color: #ffffff;
  line-height: 12px;
  margin-right: 4px;
}
.isOpenedNewDesign {
  font-weight: 700;
  font-size: 9px;
  text-transform: uppercase;
  color: #36cc33;
  line-height: 13px;
}
.companyTypeNewDesign {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ff0960;
}

/* ----------------------------------------------------------- */
.SmallCompanyBlock {
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  height: 267px;
  width: calc(25% - 10px);
  margin-bottom: 50px;
  -webkit-box-shadow: 4px 4px 4px #e5e5e5;
  box-shadow: 4px 4px 4px #e5e5e5;
  border-radius: 10px;
  border: 1px solid #f3f3f3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5px;
  margin-left: 5px;
  -webkit-animation: opacityAnimation 1s ease;
  animation: opacityAnimation 1s ease;
}
.SmallCompanyBlock:hover {
  box-shadow: 4px 4px 7px 3px #e5e5e5;
}
.companyImg {
  object-fit: cover;
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  height: 100% !important;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companyImg .noPreviewText {
  color: #fff;
  text-align: center;
  padding: 20px;
}
.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 9px;
}
.descriptionMobile {
  display: none;
}
.companyNameWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.companyName {
  font-weight: 700;
  font-size: 18px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.companyType {
  font-weight: 700;
  font-size: 13px;
  color: #e32a6c;
}
.companyTitle {
  font-size: 14px;
  font-weight: 300;
  color: #4f4f4f;
}
.topBlockText {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.bottomBlockText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 25px;
  line-height: 25px;
  margin-top: 20px;
}
.leftTextCompanyBlock {
  font-weight: 700;
  font-size: 12px;
}
.workTimeText {
  font-weight: 700;
  font-size: 12px;
}
.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #e32a6c;
  margin-left: 10px;
  margin-right: 5px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.smallRowCompanyBlock {
  display: flex;
  flex-direction: row;
}
.distanceAndType {
  display: flex;
  justify-content: space-between;
}
.rowCompanyBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.eyeCompanyBlock {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@-webkit-keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.imgContainer {
  background: #000;
  overflow: hidden;
  border-radius: 5px;
  height: 280px;
  /* display: flex; */
  /* flex: 1; */
  /* justify-content: center;
  align-items: center;  */
}

@media screen and (max-width: 1060px) {
  .SmallCompanyBlock {
    height: 350px;
    width: calc(33.3% - 10px);
  }
}
@media screen and (max-width: 960px) {
  .SmallCompanyBlock {
    height: 320px;
    width: calc(33.3% - 10px);
  }
}
@media screen and (max-width: 860px) {
  .SmallCompanyBlock {
    height: 290px;
    width: calc(33.3% - 10px);
  }
}

@media screen and (max-width: 760px) {
  .SmallCompanyBlock {
    height: 350px;
    width: calc(50% - 10px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background: #fff;
    margin-bottom: 15px;
  }
  .imgContainer {
    height: 280px;
    overflow: hidden;
    border-radius: 5px;
  }
  .companyImg {
    height: 100% !important;
    background-color: #000;
    border-radius: 5px;
  }
  .nameOfCompany {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  .description {
    display: none;
  }
  .descriptionMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 5px;
  }
  .endTimeMobile {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
  }
  .distance1 {
    display: none;
  }
  .distanceFirst1 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #e32a6c;
    padding: 5px 0;
  }
}
@media screen and (max-width: 620px) {
  .SmallCompanyBlock {
    height: 310px;
    width: calc(50% - 10px);
  }
  .imgContainer {
    height: 240px;
    border-radius: 5px;
  }
  .companyImg {
    height: 100% !important;
  }
}
@media screen and (max-width: 560px) {
  .SmallCompanyBlock {
    height: 290px;
    width: calc(50% - 10px);
  }
  .imgContainer {
    height: 220px;
    border-radius: 5px;
  }
  .companyImg {
    height: 100% !important;
  }
}
@media screen and (max-width: 430px) {
  .SmallCompanyBlock {
    height: 240px;
    width: calc(50% - 10px);
  }
  .imgContainer {
    height: 180px;
    border-radius: 5px;
  }
  .companyImg {
    height: 100% !important;
  }
}
@media screen and (max-width: 360px) {
  .SmallCompanyBlock {
    height: 220px;
    width: calc(50% - 10px);
  }
  .imgContainer {
    height: 160px;
    border-radius: 5px;
  }
}
