/* .vjs-big-play-button,
.vjs-loading-spinner,
.vjs-icon-placeholder,
.vjs-control-text,
.vjs-icon-placeholder:before {
  z-index: -1 !important;
}
.vjs-loading-spinner {
  z-index: 100 !important;
} */
.vjs-error-display {
  display: none !important;
}
