* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto, Geneva, Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: #000;
  font-family: Roboto, Geneva, Arial, Helvetica, sans-serif;
}
